<!doctype html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <link rel="stylesheet" text="text/css" href="css/style2.css">

        <title>About</title>
    </head>

    <body>
<div class="container">
            <div class="row">
          <div class="col-md-6" id="personal"><h4><p>Made By: Julian Quinonez</p><br><p>School: Hudson High School of Learning Technologies</p><br><p>Grade: 11th grade, Junoir</p><br><p>Name of App: New Articles and Trusted Reviews</p></h4><br>  </div>

          <div class="col-md-6" id="description"><h4>App Info: My App Pull articles from a constantly updated Video Game news site. It also pulls from the twitter of a trusted video game reviewer.</h4><br><h4>Tracks: Front End: CSS, HTML and Bootstrap</h4>
           
            <h4>Back End: Sinatra, ERB and Ruby</h4>
            <h4>Scrapping: Nokogiri</h4> 
            <h4>Additional resources: Google</h4></div>

          <h3><a href="/home">Back to the App</a></h3>
</div>
    </body>
<html>